{% extends 'base.html' %}

{% block title %} | دسته بندی ها{% endblock %}

{% block content %}

<!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-3 site-header">
          <small>تعداد نوشته ها {{articles.count}}</small>
        </h1>
        <hr>

        {% if articles %}
        {% for article in articles %}
        <!-- Blog Post -->
        <div class="card mb-4 shadow p-3 mb-5 mt-4 bg-white rounded">
          {% if article.cover %}
            <img class="card-img-top" src="{{ article.cover.url}}" alt="Card image cap" width="750px" ,height="350px">
          {% endif %}
          <div class="card-body">
            <!-- article info - author, data -->
            <h6 class="lead mb-3 article-info">
              <spam>نویسنده:
                <a href="#">{{ article.author }}</a></spam> |
              <spam class="text-muted small">منتشر شده در : {{ article.created_date|date }}</spam>
            </h6>

            <a href="{% url 'content_page' article.id %}">
              <h2 class="card-title">{{ article.title}}</h2>
            </a>
            <p class="card-text">
              {{ article.content|truncatewords:100 | safe }}
            </p>
          </div>

        </div>
        {% endfor %}
                    <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&rarr; قدیمی تر</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">جدیدتر &larr;</a>
          </li>
        </ul>

        {% else %}
            <div class="card mb-4">
              <div class="card-body">
                  <h2 class="card-title">مقاله ای برای این بخش وجود ندارد</h2>
                </a>
                <p class="card-text">
                    در این بخش مقاله ای وجود ندارد منتظر باشید که به زودی در این بخش مقاله ای منتشر خواهد شد.
                </p>
              </div>
            </div>
        {% endif %}

      </div>
{% endblock %}

