{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}

<!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-3 site-header">
          <small>جایی برای نوشتن تجربیات و دانسته هام</small>
        </h1>
        <hr>

          {% for article in articles %}
            <!-- Blog Post -->
            <div class="card mb-4">
              <img class="card-img-top" src="{{ article.cover.url}}" alt="Card image cap"
                   width="750px", height="350px">
              <div class="card-body">
                <a href="{% url 'content_page' article.id %}">
                  <h2 class="card-title">{{ article.title}}</h2>
                </a>
                <p class="card-text">
                    {{ article.content|truncatechars:256 | safe }}
                </p>
                <a href="#" class="badge badge-info pager-button">بیشتر &#8592; </a>
              </div>
              <div class="card-footer text-muted">
                منتشر شده در {{ article.created_date|date}} توسط
                <a href="#">{{ article.author }}</a>
              </div>
            </div>
          {% endfor %}


        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&rarr; قدیمی تر</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">جدیدتر &larr;</a>
          </li>
        </ul>

      </div>


{% endblock %}
{% block category %}
    <!-- Categories Widget -->
    <div class="card my-4">
          <h5 class="card-header">دسته بندی</h5>
          <div class="card-body">
              {% for category in categorys %}
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">{{ category.title }}</a>
                  </li>
                  </li>
                </ul>
              </div>
            </div>
             {% endfor %}

          </div>
        </div>
{% endblock %}