{% extends 'base.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}

    <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{ article.title }}</h1>

        <!-- Author -->
        <p class="lead">
            نویسنده
            <a href="#">{{ article.author }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>منتشر شده در {{ article.created_date|date }}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{ article.cover.url }}" width="900" height="300"
             alt="{{ article.title }}">

        <hr>

        <p>{{ article.content|safe }}</p>

        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
            <h5 class="card-header">کامنت:</h5>
            <div class="card-body">
                <form>
{#                    <div class="form-group">#}
{#                        <textarea class="form-control" rows="3">{{ comment_form }}</textarea>#}
{#                    </div>#}
                    {% csrf_token %}
                    {{ comment_form }}
                    <button type="submit" class="btn btn-primary">ارسال</button>
                </form>
            </div>
        </div>

        <!-- Single Comment -->
        <div style="margin-bottom: 100px">
            {% for comment in comments %}
                <div class="comments shadow p-3 mb-5 bg-white rounded" style="padding: 20px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.comment_date }}
                        </span>
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
            {% endfor %}
        </div>

    </div>


{% endblock %}

