{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}

<!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-3 site-header">
          <small>جایی برای نوشتن تجربیات و دانسته هام</small>
        </h1>

          {% for article in articles %}
        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="{{ article.cover.url}}" alt="Card image cap"
               width="750px", height="350px">
          <div class="card-body">
            <h2 class="card-title">{{ article.title}}</h2>
            <p class="card-text">
                {{ article.content|truncatechars:256 }}
            </p>
            <a href="#" class="badge badge-info pager-button">بیشتر &#8592; </a>
          </div>
          <div class="card-footer text-muted">
            منتشر شده در {{ article.created_date|date}} توسط
            <a href="#">{{ article.author }}</a>
          </div>
        </div>
              {% endfor %}


        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&rarr; قدیمی تر</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">جدیدتر &larr;</a>
          </li>
        </ul>

      </div>


{% endblock %}